.signup-container.inner-container.small-container
  #signup-form
    .title-page
      .circle
        i.icon-user
      h1= t('signup.title')
    form.form(action='/signup', method="post", role="form", novalidate, autosubmit, autovalidate)
      ul.form-errors
      .form-group
        label= t('common.email')
        input.form-control(type='email', name='email', tabindex=1, placeholder=t('signup.email.placeholder'), validate='required email')
      .form-group
        label=t('signup.firstname.label')
        input.form-control(type='text', id='firstName', name='firstName', tabindex=2, placeholder=t('signup.firstname.placeholder'), validate='required firstname')
      .form-group
        label=t('signup.lastname.label')
        input.form-control(type='text', id='lastName', name='lastName', tabindex=3, placeholder=t('signup.lastname.placeholder'), validate='required lastname')
      .form-group
        label= t('common.password')
        input.form-control(type='password', name='password', tabindex=4, placeholder=t('common.password'), validate='required min-length:6')
      .form-group
        label= t('signup.repeat-password.label')
        input.form-control(type='password', name='re_password', tabindex=5, placeholder=t('signup.repeat-password.placeholder'), validate='required same:password')
      .form-group: button(type='submit', tabindex=6).btn.btn-success.btn-block.btn-lg=t('signup.submit')
  #signup-message.hide
    h1=t('signup.success.title')
    p.lead.text-muted=t('signup.success.text.1')
    p.lead.text-muted= t('signup.success.text.2')
    a(href='/signup/resend-validation-email')= t('singup.resend.email')
